In [1]:
# # This Python 3 environment comes with many helpful analytics libraries installed
# # It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# # For example, here's several helpful packages to load

# import numpy as np # linear algebra
# import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# # Input data files are available in the read-only "../input/" directory
# # For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# # You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# # You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import numpy as np 
import pandas as pd

traindf = pd.read_csv("C:\\Users\\pruth\\Downloads\\train (1).csv")
traindf
df1=traindf.drop(['Survived'],axis=1)
y_train=traindf['Survived']
y_train

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [3]:
df2 = pd.read_csv("C:\\Users\\pruth\\Downloads\\test.csv")
df2

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [4]:
yx=pd.read_csv("C:\\Users\\pruth\\Downloads\\gender_submission.csv")
y_test=yx['Survived']
y_test

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [5]:

def preprocessdata(df):
    # df.info()

    # df.describe()

    # df.isnull().sum()

    # df.duplicated().sum()

    nmdf=df.select_dtypes(include=['number'])
    nmdf

    col=nmdf.columns
    col

    for c in col:
        col_mean=df[c].mean()
        df[c].fillna(col_mean,inplace=True)
    df

    df.isnull().sum()

    drop_col=['Cabin','Name','Ticket']

    df

    df.drop(drop_col,axis=1,inplace=True)
    df

    df['Embarked'].unique()

    columns_to_encode = ['Embarked', 'Sex']

    x = pd.get_dummies(df, columns=columns_to_encode)

    return x
x_train=preprocessdata(df1)
x_test= preprocessdata(df2)

In [6]:
bool_cols = ['Embarked_C', 'Embarked_Q', 'Embarked_S', 'Sex_female', 'Sex_male']
x_train[bool_cols] = x_train[bool_cols].astype(int)

In [7]:

x_train

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,1,3,22.000000,1,0,7.2500,0,0,1,0,1
1,2,1,38.000000,1,0,71.2833,1,0,0,1,0
2,3,3,26.000000,0,0,7.9250,0,0,1,1,0
3,4,1,35.000000,1,0,53.1000,0,0,1,1,0
4,5,3,35.000000,0,0,8.0500,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,27.000000,0,0,13.0000,0,0,1,0,1
887,888,1,19.000000,0,0,30.0000,0,0,1,1,0
888,889,3,29.699118,1,2,23.4500,0,0,1,1,0
889,890,1,26.000000,0,0,30.0000,1,0,0,0,1
890,891,3,32.000000,0,0,7.7500,0,1,0,0,1

In [8]:
bool_cols = ['Embarked_C', 'Embarked_Q', 'Embarked_S', 'Sex_female', 'Sex_male']
x_test[bool_cols] = x_test[bool_cols].astype(int)
x_test

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,892,3,34.50000,0,0,7.8292,0,1,0,0,1
1,893,3,47.00000,1,0,7.0000,0,0,1,1,0
2,894,2,62.00000,0,0,9.6875,0,1,0,0,1
3,895,3,27.00000,0,0,8.6625,0,0,1,0,1
4,896,3,22.00000,1,1,12.2875,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,30.27259,0,0,8.0500,0,0,1,0,1
414,1306,1,39.00000,0,0,108.9000,1,0,0,1,0
415,1307,3,38.50000,0,0,7.2500,0,0,1,0,1
416,1308,3,30.27259,0,0,8.0500,0,0,1,0,1
417,1309,3,30.27259,1,1,22.3583,1,0,0,0,1

In [9]:
x_test

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,892,3,34.50000,0,0,7.8292,0,1,0,0,1
1,893,3,47.00000,1,0,7.0000,0,0,1,1,0
2,894,2,62.00000,0,0,9.6875,0,1,0,0,1
3,895,3,27.00000,0,0,8.6625,0,0,1,0,1
4,896,3,22.00000,1,1,12.2875,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,30.27259,0,0,8.0500,0,0,1,0,1
414,1306,1,39.00000,0,0,108.9000,1,0,0,1,0
415,1307,3,38.50000,0,0,7.2500,0,0,1,0,1
416,1308,3,30.27259,0,0,8.0500,0,0,1,0,1
417,1309,3,30.27259,1,1,22.3583,1,0,0,0,1

In [10]:

y_train=pd.DataFrame(y_train,columns=['Survived'])
y_train

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [11]:
y_test=pd.DataFrame(y_test,columns=['Survived'])
y_test

     Survived
0           0
1           1
2           0
3           0
4           1
..        ...
413         0
414         1
415         0
416         0
417         0

[418 rows x 1 columns]

In [12]:
x_train

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,1,3,22.000000,1,0,7.2500,0,0,1,0,1
1,2,1,38.000000,1,0,71.2833,1,0,0,1,0
2,3,3,26.000000,0,0,7.9250,0,0,1,1,0
3,4,1,35.000000,1,0,53.1000,0,0,1,1,0
4,5,3,35.000000,0,0,8.0500,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,27.000000,0,0,13.0000,0,0,1,0,1
887,888,1,19.000000,0,0,30.0000,0,0,1,1,0
888,889,3,29.699118,1,2,23.4500,0,0,1,1,0
889,890,1,26.000000,0,0,30.0000,1,0,0,0,1
890,891,3,32.000000,0,0,7.7500,0,1,0,0,1

In [13]:
y_train

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [14]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
# model=KNeighborsClassifier()
model=LogisticRegression()
model.fit(x_train,y_train)

c:\Users\pruth\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\pruth\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [15]:
y_pred=model.predict(x_test)

In [16]:

from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.9401913875598086

In [17]:
y_test

     Survived
0           0
1           1
2           0
3           0
4           1
..        ...
413         0
414         1
415         0
416         0
417         0

[418 rows x 1 columns]

In [18]:
y_pred.shape

(418,)

In [19]:
new_df=x_test['PassengerId']
new_df=pd.DataFrame(new_df,columns=['PassengerId'])
new_df

     PassengerId
0            892
1            893
2            894
3            895
4            896
..           ...
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]

In [20]:
new_df['Survived']=y_pred
new_df=pd.DataFrame(new_df,columns=['PassengerId','Survived'])
new_df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [21]:
new_df.to_csv('titanic_file.csv', index=False)